@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
    /*background: #FBC02D;*/
    color: #000;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav{
  background: #8e44ad;
  padding: 10px 20px 10px 20px;
  border-left: none;
  border-right: none;}
  @media (max-width: 320px){
    nav{
      padding: 10px 10px 10px 10px !important;}
  }
  @media (max-width: 768px){
    nav{
      padding: 10px 10px 10px 10px !important;}
  }

nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px !important;
}

nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: #f2f2f2;}
  @media (max-width: 500px){
    nav ul li.logo{
      display: none;}
    nav ul li span{
      -webkit-tap-highlight-color: transparent;} /* for removing the highlight */
  }



nav ul div.items{
  padding: 0 10px;
  display: inline-flex;}
  @media (max-width: 500px){
    nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -250px;
    right: 0;
    width: 100%;
    background: #8e44ad;
    display: inline-block;
    transition: top .4s; }
    nav ul div.items.show{
    top: 60px;
    height: 100vh;
    opacity: 1;}
    nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;  }
    nav ul div.items li a{
    font-size: 19px;
    color: #fff;}
  }


nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  color: #f2f2f2;

}

nav ul div.items a:hover{
  color: cyan;
}

nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  padding: 0 10px;
  display: none;
  text-align: left !important;
  box-shadow: none !important;}
  @media (max-width: 500px){
    nav ul li.btn{
      display: block;
      color: #fff;}
  }

nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li.btn span.show:before{
  content: '\f00d';
}

.navbar{
  display: block !important;
}


.img-back{
  height: 100vh;
  width: 100%;
  background-image: url(public/imagens/empresa/makereservation_dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.85;
}

.texto{
  width: 100%;
  background-color: #ffcccc;
}

.texto-centro{
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%,-50%);}
  @media (max-width: 320px) {
    .texto-centro{
      top: 40%;
      left: 35%;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .texto-centro{
      top: 60%;
      left: 65%;}
  }
  @media (max-width: 768px){

  }



.texto-centro h1{
  color: #FBC02D;
  text-shadow: 3px 4px #383838;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 10px;
  /*z-index: 1;*/}
  @media (max-width: 320px){
    .texto-centro h1{
      font-size: 2rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .texto-centro h1{
      font-size: 2rem;
      margin-bottom: 10px;}
  }


.texto-centro h2{
  color: #fff;
  text-shadow: 3px 4px #383838;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  /*z-index: 1;*/}
  @media (max-width: 320px) {
    .texto-centro h2{
      font-size: 1.5rem;
      margin-bottom: 10px; }
  }
  @media (orientation: landscape) and (max-width: 568px){
    .texto-centro h2{
      font-size: 1.5rem;
      margin-bottom: 10px;}
  }

.texto-centro h3{
  color: #fff;
  text-shadow: 3px 4px #383838;
  font-weight: bold;
  font-size: 4.5rem;
  margin-bottom: 10px;
  /*z-index: 1;*/}
  @media (max-width: 320px) {
    .texto-centro h3{
      font-size: 1.5rem;
      margin-bottom: 10px; }
  }
  @media (orientation: landscape) and (max-width: 568px){
    .texto-centro h3{
      font-size: 1.3rem;
      margin-bottom: 10px;}
  }

.btn-fc{
  width: 55%;
  border: 4px solid #ffc107;
  background-color: #ffc107;
  color: #000;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  margin: 12px 0;}
  @media (max-width: 320px) {
    .btn-fc{
      width: 55%;
      font-size: 0.6rem;
      border-radius: 7px;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .btn-fc{
      width: 60%;
      font-size: 0.6rem;
      border-radius: 7px;}
  }

.btn-fc:hover{
  background-color: #fff;
  border: 4px solid #fff;
  color: #000;}
  @media (max-width: 320px) {
    .btn-fc:hover{
      font-size: 0.8rem;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .btn-fc:hover{
      font-size: 0.8rem;}
  }



.container-fluid-maps {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

.jonas a{
  text-decoration: none !important;
  cursor: pointer !important;
  color: #6c757d !important;
}
.jonas a:hover{
  text-decoration: none !important;
  cursor: pointer !important;
  color: #6c757d !important;
}

.mb-4-mod {
    margin-bottom: 0.5rem !important;
}

.p-3-mod a i{
  height: 50px;
  width: 50px;
  background: #1a1a1a;
  color: #6c757d ;
  line-height: 50px;
  text-align: center;
  font-size: 45px;
  border-radius: 5px;
  transition: 0.3s;
}

.p-3-mod {
    padding: 0.5rem !important;
}

.p-3-mod .md-facebook a i:hover {
 background-color: #4267b2;
}
.p-3-mod .md-instagram a i:hover{
 background-color: #d54484;
}
.p-3-mod .md-whatsapp a i:hover{
 background-color: #25d366;
}
.p-3-mod a i:hover {
    color: #fff !important;
}
