@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
    /*background: #FBC02D;*/
    color: #000;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav{
  background: #8e44ad;
  padding: 10px 20px 10px 20px;
  border-left: none;
  border-right: none;
}

nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: #f2f2f2;
}

nav ul div.items{
  padding: 0 10px;
  display: inline-flex;
}

nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  color: #f2f2f2;

}

nav ul div.items a:hover{
  color: cyan;
}

nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  padding: 0 10px;
  display: none;
}

nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li.btn span.show:before{
  content: '\f00d';
}

/* ANALISAR */
.cover{
  min-height: 100%;
}
.align-items-center{
  align-items: center !important;
}
.d-flex{
  display: flex !important;
}
.pt-5, .py-5{
  padding-top: 4.5rem !important;
}
.section-primary{
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
}
/* ANALISAR CODIGO ACIMA */

.img-back{
  height: 100vh;
  width: 100%;
  background-image: url(public/imagens/empresa/makereservation_dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.85;
}

.texto{
  width: 100%;
  background-color: #ffcccc;
}

.texto-centro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.texto-centro h1{
  color: #FBC02D;
  text-shadow: 3px 4px #383838;
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 10px;
  /*z-index: 1;*/
}
.texto-centro h2{
  color: #fff;
  text-shadow: 3px 4px #383838;
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 10px;
  /*z-index: 1;*/
}
.texto-centro h3{
  color: #fff;
  text-shadow: 3px 4px #383838;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 10px;
  /*z-index: 1;*/
}



























@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 20px 10px 20px;
  }
  nav ul li.logo{
    /*display: none;*/
  }
  nav ul div.items{
    /*flex: 4;*/
  }
  .bemvindo-cover{
    padding: 150px 0 0 0;
    color: #FBC02D;
    font-weight: bold;
    font-size: 5rem; /* 5 * 16 */
  }

}

@media screen and (max-width: 750px){
  nav{
    padding: 10px 20px 10px 10px;
  }
  nav ul li.btn{
    display: block;
    color: #fff;
  }
  nav ul li span{
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  }
  nav ul li.logo{
    display: none;
  }

  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -250px;
    right: 0;
    width: 100%;
    background: #8e44ad;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
    height: 100vh;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
    color: #fff;
  }
  .bemvindo-cover{
    padding: 150px 0 0 0;
    color: #FBC02D;
    font-weight: bold;
    font-size: 3rem; /* 5 * 16 */
  }

}

@media screen and (max-width: 320px) {
.bemvindo-cover{
  padding: 150px 0 0 0;
  color: #FBC02D;
  font-weight: bold;
  font-size: 2rem; /* 5 * 16 */
}

}
