/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
    /*background: #FBC02D;*/
    color: #000;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav{
  background: #8e44ad;
  padding: 10px 20px 10px 20px;
  border-left: none;
  border-right: none;}
  @media (max-width: 320px){
    nav{
      padding: 10px 10px 10px 10px !important;}
  }
  @media (max-width: 768px){
    nav{
      padding: 10px 10px 10px 10px !important;}
  }

nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px !important;
}

nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: #fff;}
  @media (max-width: 500px){
    nav ul li.logo{
      display: none;}
    nav ul li span{
      -webkit-tap-highlight-color: transparent;} /* for removing the highlight */
  }



nav ul div.items{
  padding: 0 0px;
  display: inline-flex;}
  @media (max-width: 500px){
    nav ul div.items{
    z-index: 1;
    position: fixed;
    top: 66px;
    left: 0px;
    height: 100%;
    width: 0px;
    background: #8e44ad;
    display: inline-block;
    overflow-x: hidden;
    transition: all .4s; }
    nav ul div.items.show{
    top: 66px;
    width: 250px;
    height: 100%;
    opacity: 1;}
    nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;  }
    nav ul div.items li a{
    font-size: 19px;
    color: #fff;}
  }


nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  color: #fff;

}

nav ul div.items a:hover{
  font-weight: none;
}

nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  padding: 0 10px;
  display: none;
  text-align: left !important;
  box-shadow: none !important;}
  @media (max-width: 500px){
    nav ul li.btn{
      display: block;
      color: #fff;}
  }

nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li.btn span.show:before{
  content: '\f00d';
}

.navbar{
  display: block !important;
}


.img-back{
  height: 100vh;
  width: 100%;
  background-image: url(../../public/imagens/empresa/salao.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.85;}
  @media (max-width: 320px) {
    .img-back{
      height: 100vh;}
  }
  @media (min-width: 321px) and (max-width: 500px){
    .img-back{
      height: 100vh;}
  }

.texto-centro{
  width: 100%;
  height: 100%;
}

.container .texto-centro h1{
  /*color: #FBC02D;
  text-shadow: 3px 4px #383838;*/
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 10px;
  /*z-index: 1;*/}
  @media (max-width: 320px){
    .container .texto-centro h1{
      font-size: 2rem;
      margin-bottom: 10px;}
  }
  @media (min-width: 321px) and (max-width: 500px){
    .container .texto-centro h1{
      font-size: 2.5rem;
      margin-bottom: 10px;}
  }
  @media (min-width: 501px) and (max-width: 1000px){
    .container .texto-centro h1{
      font-size: 4.5rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .container .texto-centro h1{
      font-size: 2rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 569px) and (max-width: 768px){
    .container .texto-centro h1{
      font-size: 2.6rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 769px) and (max-width: 950px){
    .container .texto-centro h1{
      font-size: 3rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 951px) and (max-width: 1200px){
    .container .texto-centro h1{
      font-size: 5rem;
      margin-bottom: 10px;}
  }



.container .texto-centro h2{
  color: #8e44ad;
  /*text-shadow: 3px 4px #383838;*/
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 10px;
  /*z-index: 1;*/}
  @media (max-width: 320px) {
    .container  .texto-centro h2{
      font-size: 1.5rem;
      margin-bottom: 10px; }
  }
  @media (min-width: 321px) and (max-width: 500px){
    .container  .texto-centro h2{
      font-size: 1.7rem;
      margin-bottom: 10px;}
  }
  @media (min-width: 501px) and (max-width: 1000px){
    .container  .texto-centro h2{
      font-size: 3rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .container  .texto-centro h2{
      font-size: 1.5rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 569px) and (max-width: 768px){
    .container  .texto-centro h2{
      font-size: 1.5rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 769px) and (max-width: 950px){
    .container  .texto-centro h2{
      font-size: 2rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 951px) and (max-width: 1200px){
    .container  .texto-centro h2{
      font-size: 4rem;
      margin-bottom: 10px;}
  }



.container .texto-centro h3{
  color: #000;
  /*text-shadow: 3px 4px #383838;*/
  font-weight: bold;
  font-size: 4rem;
  text-align: right;
  margin-bottom: 10px;
  /*z-index: 1;*/}
  @media (max-width: 320px) {
    .container .texto-centro h3{
      font-size: 1.5rem;
      margin-bottom: 10px; }
  }
  @media (min-width: 321px) and (max-width: 500px){
    .container .texto-centro h3{
      font-size: 1.7rem;
      margin-bottom: 10px;}
  }
  @media (min-width: 501px) and (max-width: 1000px){
    .container .texto-centro h3{
      font-size: 3.5rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (max-width: 568px){
    .container .texto-centro h3{
      font-size: 1.3rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 569px) and (max-width: 768px){
    .container .texto-centro h3{
      font-size: 1.8rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 769px) and (max-width: 790px){
    .container .texto-centro h3{
      font-size: 2.3rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 791px) and (max-width: 950px){
    .container .texto-centro h3{
      font-size: 2.5rem;
      margin-bottom: 10px;}
  }
  @media (orientation: landscape) and (min-width: 951px) and (max-width: 1200px){
    .container .texto-centro h3{
      font-size: 3.5rem;
      margin-bottom: 10px;}
  }





.btn-fc{
  width: 55%;
  border: 4px solid #ffc107;
  background-color: #ffc107;
  color: #000;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  margin: 12px 0;}


.btn-fc:hover{
  background-color: #fff;
  border: 4px solid #fff;
  color: #000;}





.jonas a{
  text-decoration: none !important;
  cursor: pointer !important;
  color: #6c757d !important;
}
.jonas a:hover{
  text-decoration: none !important;
  cursor: pointer !important;
  color: #6c757d !important;
}

.mb-4-mod {
    margin-bottom: 0.5rem !important;
}

.p-3-mod a i{
  height: 35px;
  width: 35px;
  background: #1a1a1a;
  color: #6c757d ;
  line-height: 35px;
  text-align: center;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.3s;
}


.p-3-mod {
    padding: 1rem !important;
}

.p-3-mod .md-facebook a i:hover {
   color: #4267b2;
}
.p-3-mod .md-instagram a i:hover{
   color: #d54484;
}
.p-3-mod .md-whatsapp a i:hover{
   color: #25d366;
}
/*troca cor simbolo
.p-3-mod a i:hover {
    color: #fff !important;
}*/

.no-underline{
  text-decoration: none !important;
}

.fw-divider-special-center{
  background-color: #546071;
  position: absolute;
  top: 65%;
  left: 50%;
  height: 3px;
  width: 50%;
  transform: translate(-50%,-50%);
}

.text-bold{
  font-weight: bold !important;
  font-size: 2rem !important;
}
.text-black{
  color: #000;
}


.ds.s-bordertop:before,
.ds.s-borderbottom:after,
.ds.s-bordertop-container .container:before,
.ds.s-borderbottom-container .container:after {
	background-color: #34373a;
}
.s-bordertop,
.s-borderbottom,
.s-bordertop-container .container,
.s-borderbottom-container .container {
	position: relative;
}
.s-bordertop:before,
.s-borderbottom:after,
.s-bordertop-container .container:before,
.s-borderbottom-container .container:after {
	background-color: #dadde1;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.m-3-mod{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.text-laranja{
  color: #ecae3d !important;
  font-weight: bold !important;
}

.text-{
  color: #8e44ad !important;
  font-weight: bold !important;
}

.py-3{
  padding-bottom: 1rem !important;
}

.format-sua-festa{
  font-size: 3rem !important;
}
.format-servico{
  font-size: 2rem !important;
}

.format-evento{
  font-size: 1.2rem !important;
}


.acerto-col-md-12{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.acerto-container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 50px !important;
  padding-bottom: 10px !important;
}


.arrow-up{
  position: fixed;
  bottom: 30px;
  right: 70px;
  font-size: 35px;
  background: #000;
  color: white;
  padding: 7px 10px;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 9999999999; /*Força o widget ficar acima de qualquer elemento*/
  transition: opacity .3s ease-in-out;
}

.arrow-up:hover{
  background: #0d4aa5;
  transition: .5s;
}
